<!-- 
<!DOCTYPE html>
<html lang="en">
        
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Purchase</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'static/css/purchase.css' %}">
</head>
<body>
    <form action = "purchase" method="POST">
            {% csrf_token %}
    <div class="searchhead">
        <div class="search">                                                                                                                                                                                                                            
            <div>S.N.<br><br>
                <input type="number" name="S.N.">
            </div>
            <div>
                Items<br><br>
                <input type="text" name="items">
            </div>
            <div>
                Quantity<br><br>
                <input type="number" name="quantity">
            </div>
            <div>
                Price<br><br>
                <input type="number" name="price">
            </div>
            <div>
                Total<br><br>
                <input type="number" name="total">
            </div>
            <div>
                Date<br><br>
                <input type="date" name="date">
            </div>
            <div>
                
                

            </div>
        </div>
    </div>
    </form>    
       
    
</body>
</html> -->